body {
  background-color: powderblue;
}
h1 {
  text-align:center;font-family:Garamond;font-size:50px;color:blue;
}
p {
  color: orange;font-size:25px;
}
ul {
  color: orange;font-size:25px;
}